* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}